<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.todo.todomybatis.mapper.BookMapper"> <!--mapper폴더에서 생성한 (인터페이스)클래스명(풀네임으로!)-->

<!--    <select id="selectBy" resultType="com.todo.todomybatis.domain.book.Book">
        select * from book where bookid=#{bookid}
    </select>-->

    <update id="updateBook" parameterType="com.todo.todomybatis.domain.book.Book">
        update book set bookname=#{bookname}, publisher=#{publisher}, price=#{price} where bookid=#{bookid}
    </update>

 <!--   <select id="selectAll" resultType="com.todo.todomybatis.domain.book.Book">
        select * from book
    </select>-->

   <!-- <select id="custSelectAll" resultType="com.todo.todomybatis.domain.customer.Customer">
        select * from customer
    </select>-->

    <insert id="ordersInsert" parameterType="com.todo.todomybatis.domain.orders.Orders">
        insert into orders (custid, bookid, saleprice, orderdate) values (#{custid}, #{bookid}, #{saleprice}, #{orderdate})
    </insert>

    <select id="selectBookSearchOption" resultType="com.todo.todomybatis.domain.book.Book" parameterType="com.todo.todomybatis.domain.book.BookSearchOption">
        select * from book
        <where>
            <if test="searchType != null and keyword != null">
                <if test="searchType == 'bookname'">
                    bookname like concat('%', #{keyword}, '%')
                </if>
                <if test="searchType == 'publisher'">
                    publisher like concat('%', #{keyword}, '%')
                </if>
                <if test="searchType == 'price'">
                    <!--price >= #{keyword}-->
                    <include refid="searchPrice"></include>
                </if>

            </if>
        </where>
    </select>

    <sql id="searchPrice">
        #{keyword} >= price
    </sql>

    <select id="selectBybookids" parameterType="list" resultType="com.todo.todomybatis.domain.book.Book">
        select * from book
        <where>
            <if test="list != null list.size != 0">
                bookid in
                <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

</mapper>