<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function (){

            // 형식 1: 가장 많이 사용하는 형식
            // $.ajax('/data.html', {
            //     success : function (data){ /*통신이 성공했을때 실행되어야 하는 함수*/
            //         console.log('형식1 data ==> ', data);
            //         $('body').append(data);
            //     }
            // })

            ///////////////////////////////

            // 형식 2
            // $.ajax({
            //     url : '/data.html',
            //     success : function (data){
            //         console.log('형식2 data ==> ', data);
            //         $('body').append(data);
            //     }
            // })

            //////////////////////////////

            // 옵션의 다양성
            // /parameter get요청 -> name, price 전송

            // $('#btnSubmit').click(function(){
            //
            //     let name = $('#name').val();
            //     let price = $('#price').val();
            //
            //     $.ajax({
            //         url : '/parameter',
            //         type : 'get', // post, put, delete 등을 선택한다.
            //         data : {name: name, price: price}, // 객체형({}), 문자열(쿼리스트링=>name=milk&price=1000) 가능
            //         success : function (data){ // url(컨트롤러)에서 처리된 return 값
            //             console.log('통신 결과 ==> ', data);
            //             $('body').append('<h3>'+ data +'</h3>');
            //         }
            //     })
            // })

            //////////////////////////////

            // $.get 방식 처리 1
            // $.get('/data.html', function (data){
            //     console.log('$.get 1!!');
            //     $('body').html(data);
            // })

            /////////////////////////////

            // $.get 방식 처리 2
            // $.get('/parameter', {name: '우유', price: 3000}, function (data){
            //     console.log('$.get 2!!');
            //     $('body').html(data);
            // })

            //////////////////////////////

            // JSON데이터 -> 객체 형식으로 반환
            // $.get('/data.json', function (data){
            //     console.log('/data.json ==> ', data); // JSON데이터를 받았는데, 객체형식으로 표현된다.
            //
            //     $.each(data, function (index, item){
            //         $('body').append('<h2>'+ item.name + ' : ' + item.price +'</h2>')
            //     })
            // }, 'json')

            ///////////////////////////////

            // $.getJSON으로 하면 json데이터를 객체로 자동 변환 된다.
            // $.getJSON('/data.json', function (data){
            //     console.log('$.getJson ==> ',data);
            //
            //     $.each(data, function (index, item){
            //         $('body').append('<h2>'+ item.name + ' : ' + item.price +'</h2>')
            //     })
            // })

            //////////////////////////////////

            // $.get('/data.html', function (data){
            //     console.log('$.get 1!!');
            //     $('body').html(data);
            // })

            // 위 결과와 같다!!!!!!!
            // $('body').load('/data.html') // 확장한다면,,, body가 아닌 div태그에 id를 부여해서 로딩할 수 있다.

            ////////////////////////////////////////////

            // xml 조작: xml데이터를 받아서 표현 할 때
            // $.ajax({
            //     url: '/data.xml',
            //     success: function (data) {
            //         $(data).find('product').each(function (){
            //             let name = $(this).find('name').text();
            //             let price = $(this).find('price').text();
            //
            //             $('div').append('<h3>' + name + ' : ' + price + '</h3>')
            //         })
            //     }
            // })

            ///////////////////////////////////////////////

            // serializeArray() ==> form태그가 필요하다!
            $('#myForm').submit(function (){

                let param1 = $(this).serialize();
                let param2 = $(this).serializeArray();

                console.log('param 1 ==> ', param1);
                console.log('param 2 ==> ', param2);

                $.get('/parameter', param2, function (data){

                    $('body').html(data);
                })

                return false; // 원래 가지는 submit 기능을 제거한다.
            })





        })

    </script>
</head>
<body>

<form id="myForm">
이름 <input type="text" name="name" id="name">
가격 <input type="text" name="price" id="price">
<input type="submit" value="전송" id="btnSubmit">
</form>

<!--<div></div>-->

<!--이름 <input type="text" name="name" id="name">-->
<!--가격 <input type="text" name="price" id="price">-->
<!--<input type="submit" value="전송" id="btnSubmit">-->

</body>
</html>