<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.manager.mapper.DeptMapper"> <!--mapper폴더에서 생성한 (인터페이스)클래스명(풀네임으로!)-->

<select id="selectAll" resultType="com.app.manager.domain.DeptDTO"> <!--해당 클래스의 메소드명, 매개변수, 결과타입(풀네임으로!) 설정-->
    select * from dept  <!--쿼리문 입력-->
</select>

    <select id="selectByDeptno" resultType="com.app.manager.domain.DeptDTO"> <!--파라미터가 하나이면 parametertype 넣지 않아도된다.-->
        select * from dept where deptno=#{no}
    </select>

    <insert id="insertDept" parameterType="com.app.manager.domain.DeptDTO"> <!-- 정수반환이기 때문에 결과타입 생략가능-->
        insert into dept values(#{deptno}, #{dname}, #{loc}) <!--DeptDTO의 참조변수와 매칭한다-->
    </insert>

    <update id="updateDept" parameterType="com.app.manager.domain.DeptDTO"> <!-- 정수반환이기 때문에 결과타입 생략가능-->
        update dept set dname=#{dname}, loc=#{loc} where deptno=#{deptno}
    </update>

    <delete id="deleteByDeptno">
        delete from dept where deptno=#{no}
    </delete>

</mapper>