body {
    margin: 0;
}

#main {
    background-color: #f0f2f5;
    height: 720px;
    
}

footer {
   
    height: 20%;
}

footer > div {
    width: 980px;
    height: 100%;
    margin: 20px auto;
    font-size: 12px;
}

hr {
    border: 0.5px solid rgb(200, 199, 199);
    margin: 10px auto;
}

#main > div {
    width: 980px;
    margin: 0 auto;
    /*background-color: aqua;*/
    vertical-align: middle;
    height: 700px;
}

#left_div {
    width: 580px;
    float: left;
    /*background-color: red;*/
    /*height: 400px;*/
    margin-top: 200px;

    display: inline-block;
}

#left_div > p {
    margin-top: 0;
    font-size: 28px; 
}

#right_div {
    width: 350px;
    float: right;
    /*background-color: blue;*/
    height: 300px;
    margin-top: 150px;

}

#login {
    background-color: white;
    /*border: 1px solid #000;*/
    border-radius: 15px;
    box-shadow: 5px 5px 10px #aaa;
    padding: 5px 10px;
    text-align: center;
    vertical-align: middle;   
}

h1 {
    color: #1877f2;
    font-size: 52px;
    font-weight: bold;
    margin-bottom: 0;
}

input {
    width: 300px;
    height: 42px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #aaa;
    border-radius: 8px;
    padding-left: 12px;
    line-height: 38px;
    font-size: 18px;
}

input:focus {
    outline-color: #1877f2;
    outline-style: groove;
}

button {
    width: 313px;
    height: 42px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #1877f2;
    border-radius: 8px;
    background-color: #1877f2;
    color: white;
    font-size: 18px;
    font-weight: bold; 
}

#new_acc {
    border: 1px solid #42b72a;
    background-color: #42b72a;
    width: 150px;
    margin-bottom: 15px;
}